body { 
    margin:0 ; 
    padding:0 ; 
    background: url(FondLogin.png);
    background-size: cover;

    text-align:center;
}


p{ 
    color:#ffffff; 
    text-transform:uppercase;
    font-size: 2px; 
}


.box{ 
    width:500px ; 
    position:absolute; 
    top:50% ; 
    left:50%; 
    transform:translate(-50%, -50%); 
    background:rgba( 0,0,0,0.7 ) ; 
    text-align:center;
}

.box h1{ 
    color:#ffffff; 
    text-transform:uppercase;
    font-weight:700; 
}

.box input[type="text"],.box input[type= "password" ],.box input[type="email"]{

    
    border:0;
    background:none;
    display:block;
    margin:center;
    text-align:center;
    border:3px solid #5d5d60ec;
    padding:12px 12px;
    width:280px;
    outline:none;
    color:#ffffff;
    border-radius: 24px; 
    transition : 0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus{ 

    padding:12px;
    width: 320px;
    border-color:#ffffff;
}

.box input[ type = "submit" ]{

    border:0;
    background:none;
    display:block;
    margin:10px auto;
    text-align:center;
    border:3px solid #ffffff; 
    padding:12px 10px;
    outline:none;
    color:#ffffff;
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
}

.box input[type="file"]{

    border:0;
    background:white;
    text-align:center;
    outline:none;
    color:#ffffff;
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    display: none;
}

.box input[type="submit"]:hover{
    background: #ffffff ;
    color: #5d5d60ec;
}

.box h2{ 
    text-transform:uppercase;
    font-size: 25px;;
    color: #5d5d60ec;
}

h3{

    color:#ffffff; 
    font-size: 15px;
}

.box2{ 
    width:600px ; 
    position:absolute; 
    top:50% ; 
    left:50%; 
    transform:translate(-50%, -50%); 
    background:rgba( 0,0,0,0.7 ) ; 
    text-align:center;
    justify-content:center;
    height: 700px;
}

.box2 h1{ 
    color:#ffffff; 
    text-transform:uppercase;
    font-weight:700; 
}

.box2 input[type="text"],.box2 input[type="password"],.box2 input[type="email"]{

    
    border:0;
    background:none;
    display:block;
    margin:center;
    text-align:center;
    border:3px solid #5d5d60ec;
    padding:12px 12px;
    width:280px;
    height: 50px;
    outline:none;
    color:#ffffff;
    border-radius: 24px; 
    transition : 0.25px;
}

.box2 input[type="text"]:focus,.box2 input[type="password"]:focus,.box2 input[type="email"]:focus{ 

    width: 340px;
    height: 55px;
    border-color:#ffffff;
    margin-left: -10px;
}

.box2 input[ type = "submit" ]{

    border:0;
    background:none;
    display:block;
    margin:10px auto;
    text-align:center;
    border:3px solid #ffffff; 
    padding:12px 10px;
    outline:none;
    color:#ffffff;
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
}

.box2 input[type="file"]{

    border:0;
    background:white;
    text-align:center;
    outline:none;
    color:#ffffff;
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    display: none;
}

.box2 input[type="submit"]:hover{
    background: #ffffff ;
    color: #5d5d60ec;
}

.box2 h2{ 
    text-transform:uppercase;
    font-size: 25px;;
    color: #5d5d60ec;
}

.selIm{
    
    color:white; 
    height:40px;
    width:180px;
    background-color:#f5af09;
    font-size:15px;
    display:flex; 
    justify-content:center;
    align-items:center;
    font-family:"Montserrat",sans-serif; 
    border-radius:24px;
    margin-left: -35px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.ImCont{

    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.contain{
    height: 150px;
    width: 150px;
    justify-content:center;
}

.contain .wrapper{
    position: relative;
    height:150px;
    width:100%;
    border-radius:60px;
    background:#fff;
    border:4px dashed #c2cdda;
    display:flex; 
    align-items:center;
    justify-content:center;
    overflow: hidden;
    left: 80px;

} 
.wrapper .Pimage{
    position:absolute;
    height:100%;
    width:100%;
    display:flex; 
    align-items: c 
}

.wrapper .image img{
    height:100%;
    width:100%;
    object-fit: cover;
    
}

